body{
    font-family: 'Raleway', sans-serif;
    margin: 0;
}
.top-section{
    display: flex;
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.top-banner{
    width: 50%;
    text-align: center;
    margin-top: 150px;
    margin-left: 300px;
 }
.top-banner h1{
    font-size: 50px;
    color: white;
}
.top-banner p{
    font-size: 20px;
    color: white;
}
.donate-now-button{
    text-decoration: none;
    color: white;
    font-weight: 500;
    padding: 10px 20px;
    background-image: linear-gradient(rgb(245, 158, 142),rgb(225, 71, 15));
    border-radius: 10px;
}


.donation-area{
    background-image: url(images/water.webp);
    width: 50%;
    height: 500px;
    text-align: center;
    margin: 150px 200px 100px 300px;
}
.donation h1{
    font-size: 40px;
    padding-top: 15px;
    color: rgb(218, 67, 13);
}
.donation p{
    padding-left: 60px;
    padding-right: 60px;
}
.donation-amount{
    display: flex;
}
.amount{
    display: inline-block;
    width: 100px;
    height: 70px;
    font-weight: 900;
    color: dimgray;
    margin-top: 30px;
    margin-left: 20px;
    padding-top: 30px;
    background-color:rgba(243, 235, 235, 0.402);
}
#amount-two{
    display: inline-block;
    width: 100px;
    height: 70px;
    font-weight: 900;
    color: dimgray;
    margin-top: 30px;
    margin-left: 15px;
    padding-top: 30px;
    border: 2px solid tomato;
    background-color: rgba(245, 225, 207, 0.644);
    border-radius: 5px;
}
.text-color{
    color: rgba(185, 178, 178, 0.906);
}


.plan{
    width: 50%;
    height: 150px;
    text-align: center;
    margin-left: 300px;
    margin-right: 200px;
}
.plan h1{
    font-size: 40px;
    color: rgb(138, 7, 15);
}
.plan p{
    padding-left: 60px;
    padding-right: 60px;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.gary{
    color: dimgray;
}
#plan-one{
    width: 30%;
    height: 300px;
    background-color: rgba(222, 245, 245, 0.626);
    margin-top: 30px;
    margin-left: 4%;
    margin-right: 1%;
    padding-top: 50px;
    padding-left: 20px;
    border: 1px solid grey;
    border-radius: 5px;
    box-shadow: 10px 10px 20px gray;
    transition: .8ms;
}
#plan-one:hover{
    border: 1px solid rgb(239, 17, 17);
    margin-top: -15px;
    transition: .8ms;
}
#plan-two{
    width: 30%;
    height: 300px;
    background-color:rgba(247, 240, 229, 0.712);
    margin-top: 30px;
    padding-top: 50px;
    padding-left: 20px;
    border: 1px solid grey;
    border-radius: 5px;
    box-shadow: 10px 10px 20px gray;
    transition: .8ms;
}
#plan-two:hover{
    border: 1px solid rgb(223, 13, 13);
    margin-top: -15px;
    transition: .8ms;
}
#plan-three{
    width: 30%;
    height: 300px;
    background-color: rgba(247, 236, 176, 0.484);
    margin-top: 30px;
    margin-left: 1%;
    margin-right: 4%;
    padding-top: 50px;
    padding-left: 20px;
    border: 1px solid grey;
    border-radius: 5px;
    box-shadow: 10px 10px 20px gray;
    transition: .8ms;
}
#plan-three:hover{
    border: 1px solid rgb(233, 16, 16);
    margin-top: -15px;
    transition: .8ms;
}


.about-area{
    height: 520px;
    background-image: linear-gradient(rgba(225, 71, 15, 0.084),rgba(230, 230, 250, 0.183));
}
.image{
    display: flex;
}
.about-left{
    width: 50%;
}
.image img{
    background-repeat: no-repeat;
    width: 313px;
    height: 500px;
    transform: skewY(-15deg);
}
.about-right{
    width: 50%;
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 30px;
}   
.align{
    margin-left: 40%;
}


#get-updates{
    width: 40%;
    height: 170px;
    text-align: center;
    padding-top: 10px;
    padding-left: 20px;
    margin-left: 380px;
}
#get-updates h1{
    font-size: 40px;
    color: rgb(61, 50, 50);
}
#from-area{
    width: 50%;
    height: 120px;
    margin-left: 25%;
    background-color: lavender;
    border-radius: 10px;
    box-shadow: 10px 10px 20px lavender;
}
#email{
    font-size: 20px;
    color: dimgray;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 7%;
    margin-left: 20%;
}
#subscribe{
    font-size: 20px;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: red;
    border: 0;
    box-shadow: 10px 10px 20px rgba(253, 3, 3, 0.326);
}


.footer{
    width: 100%;
    height: 150px;
    background-color:rgb(6, 3, 3);
    text-align: center;
    padding-top: 5px;
    margin-top: 100px;
}
.footer h1{
    color: rgb(210, 21, 21);
    font-family: cursive;
}
.footer p{
    color: rgb(191, 184, 184);
    font-size: 15px;
}